html body {
    height: 100%;
    width: 100%;
}

root {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
    min-height: 100vh;
}
